<footer class="footer">
  <div class="container">
    <div class="row ">
      <div class="col-xs-12 nav">
        <ul>
          <li>
            <a href="/courses">Courses</a> 
          </li>
          <li>
            <a href="/news">News & Events</a> 
          </li>
          <!-- 
            <li>
            <a href="/stories">Learner Stories</a> 
          </li> 
        -->
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
         
        </li>
          
        </ul>

      </div>
    </div>
    <div class="row  linksandlogo">
      <div class="col-sm-6 ">
        <ul class="links">
        <li>
          <%= link_to "Privacy / Data", privacy_path %>
        </li>
        <li>
          <a href="/accessibility">Accessibility</a>
        </li>
        <li>
          <%= link_to "Site map", site_map_path %>
        </li>
          <li>
          <a href="https://employmentskillsleeds.co.uk/contact">Contact us</a>
        </li>
          <li>
          <a href="https://www.inclusivegrowthleeds.com/employment-and-skillst">Employment and Skills</a>
        </li>
      </ul>
      </div>
      <!-- -->
      <div class="col-sm-6 logo-footer ">
        <%= image_tag 'FutureTalentLeedslogo.png', width: 176, height: 174, alt: "Future Talent Leeds logo", loading: "lazy", typeof: "foaf:Image" %>
   
        <%= image_tag 'Leeds City Council logo.png', width: 292, height: 86, alt: "Leeds City Council logo", loading: "lazy", typeof: "foaf:Image" %>

        <a href="https://twitter.com/leedsigs" aria-label="Visit Inclusive Growth Leeds on Twitter (X)" target="_blank">
        <%= image_tag 'twitter-64.png', width: 64, height: 64, alt: "Twitter logo", loading: "lazy", typeof: "foaf:Image" %>
     
        </a>

      </div>
    </div>


  </div>
</footer>

