<div class="slider">
  <div class="slider-heading">
    <h2>News & Events</h2>
  </div>

  <div class="news-slider">

    <% news.each do | news_item | %>
    <div>
      <div class="slide-wrapper">
        <div class="bews-slide slide-main">
          <a href="<%= url_for(news_item) %>" class="slide-link">
            <div class="news-slide-image slide-image">
              <img src="<%= news_item.thumbnail %>" class="image-style-card-slider-" alt="<%= news_item.alt_text %>" >
            </div>

            <div class="news-slide-text slide-text ">
              <h3><%= news_item.title %></h3>
              <div class="excerpt">
                <%= sanitizemarkdown(Kramdown::Document.new(news_item.excerpt).to_html)%>
              </div>
       
            </div>
          </a>
        </div>
      </div>
    </div>
    <% end %>

    <div>
      <div class="slide-wrapper">
        <div class="bews-slide slide-main">
          <a href="<%= url_for(news_index_path) %>" class="slide-link">
            <div class="news-slide-image slide-image">
              <img src="<%= asset_path("AdultLearningPicture_cropped.jpg") %>" class="image-style-card-slider-" alt="Tutor supporting a learner" >
            </div>

            <div class="news-slide-text slide-text ">
              <h3>View all news & events </h3>
             
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

