<div class="row rec">
  
  <div class="col-md-12">
    <h3>Recommendations</h3>
  </div>
  <% recommendations.each do | course |  %>

  <div class="col-md-4 smaller">
    <h4>
      <%= link_to course.title, course%>
    </h4>
    <p>
      <%= snippet(course.description, 20) %>
    </p>
    <p> 
      <%= course.start_time.strftime("%-I:%M %p") %> - <%= course.end_time.strftime("%-I:%M %p") %> at <%= link_to course.venue.name.titlecase, course.venue %> <br />
      Provided by <%= link_to course.provider.name, course.provider %>
    </p>
  </div>
  
  <% end %>
  

</div>

