<script type="text/javascript">
$( document ).ready(function() {
  if (navigator.geolocation){
    $('.use-location').show();
  }
  
  $('#geobutton').on('click', function () {
    geoFindMe();
  })
  });

function geoFindMe() {

  if (!navigator.geolocation){
    alert("Sorry, finding your location is not supported by your browser");
    $('#geobutton').attr("disabled", true)
    return;
  }

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;
    var text = longitude + ',' + latitude;
    $("#near").val(text)
  }

  function error() {
    alert("Sorry, we are unable to get your location");
  }

  $("#near").val("Locating…")

  navigator.geolocation.getCurrentPosition(success, error);
}
</script>
<div id="out"></div>
<%= form_tag("/courses", method: "get", class: ' ') do %>
  <div class="form-group  row">
    <%= label_tag(:q, "Search for a course, subject or topic:", class:"col-sm-4 control-label") %>
    <div class="col-sm-8">
      <%= text_field_tag(:q, params[:q], class:"form-control") %>
    </div>
  </div>

  <div class="form-group row ">
  <div class="col-sm-4">
    <%= label_tag(:near, "Location:", class:"control-label") %>
    <span id="nearhelp" class="help-block">E.g. Postcode, place or address.</span>
    </div>
        <div class="col-sm-8">
      <%= text_field_tag(:near, params[:near], class:"form-control near-field",  aria: { describedby:  'nearhelp' }) %>
      <%= hidden_field_tag(:sort, params[:sort]) %>   
    </div>
    <% if local_assigns[:size] == "half" %>
      <div class="col-sm-8 use-location" style="display:none;">
    <% else %>
      <div class="col-sm-8 col-sm-offset-4 use-location" style="display:none;">
    <% end %>
    
      <span class="location-hint">Use current location</span>
      <button id="geobutton" class="geobutton btn btn-default" type="button" title="Use current location"> <%= image_tag 'location.png', width: 25, height: 25, alt: "Location Marker"%></button>
    </div>

</div>

  <div class="form-group row ">
    <% if local_assigns[:size] == "half" %>
    <div class="col-sm-8 ">
    <% else %>
      <div class="col-sm-8 col-sm-offset-4">
    <% end %>

  
        <div class="">
        <button class="btn btn-lil" type="submit" title="Search"><span class="glyphicon glyphicon-search"></span> Search</button>
        <span class="show-all"> &nbsp; <%= link_to 'Show All Courses', courses_url %></span>
        </div>
       
        </div>  
 </div>

<% end %>



