<% content_for :title, 'Find courses near you in Leeds' %>

<!-- search form -->
<div class="row">
  <div class="col-md-5">
   
      <div class="">
        <a class="rootlink" href="/"><%= image_tag "hub.png", :class => "lal-logo", :height => 100, :alt => "Leeds Adult Learning Hub logo" %> </a>    
      </div>
   
    <!-- search form --> 
    <div class="search-form ">
      <%= render partial: 'shared/search_form', locals: {size: "half"}%>
    </div>


    <!-- welcome  -->
    <%= render(partial: 'shared/welcome', :object => @welcome) if @welcome %>
  </div>

  <div class="col-md-6">
    <!-- image --> 
    <div class="iglimage">
      <%= image_tag "AdultLearningPicture.jpg", loading:"lazy", typeof:"foaf:Image", class: "image-style-page-image", width: 760, height: 760, alt: "Tutor supporting a learner" %>
     
    </div>
  </div>

</div>

<!-- topics -->
<div class="row">

  <% @topics.each do | topic | %>
      
    <div class="col-xs-12 col-sm-6 col-md-2">
      <div class="topic">
        <%= link_to(image_tag(topic.icon.url(:thumb),  width: 70, height: 70, alt: topic.alt_text),  topic) %>
        
        <br />
        <%= link_to topic.name, topic %>
      </div>
     </div>
  <% end %>

</div>



<!-- news -->
<%= render(partial: 'shared/news', :object => @news) unless @news.empty?  %>
 
<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>

<%= render partial: 'shared/topic_nav' %>
