<% content_for :title, 'Find courses near you in Leeds' %>

<!-- search form -->
<div class="row">
  <div class="col-md-5">
   
      <div class="">
        <h1 class="page-head"> <a class="rootlink" href="/"><span class="slight">Leeds</span> Adult Learning</a></h1>
         
      </div>
   
    <!-- search form --> 
    <div class="search-form ">
      <%= render partial: 'shared/search_form', locals: {size: "half"}%>
    </div>


    <!-- welcome  -->
    <%= render(partial: 'shared/welcome', :object => @welcome) if @welcome %>
  </div>

  <div class="col-md-6">
    <!-- image --> 
    <div class="iglimage">
      <%= image_tag "AdultLearningPicture.jpg", loading:"lazy", typeof:"foaf:Image", width: 760, height: 760, alt: "Tutor supporting a learner" %>
     
    </div>
  </div>

</div>

<!-- topics -->
<div class="row topics">

  <% @topics.each do | topic | %>
      
    <div class="col-xs-12 col-sm-6 col-md-2">
      <div class="topic">
        <a href="<%= url_for(topic) %>">
          <%= image_tag(topic.icon.url(:thumb),  width: 70, height: 70, alt: topic.alt_text) %>
          <br>
          <%= topic.name%>
        </a>
      </div>
     </div>
  <% end %>

</div>



<!-- news -->
<%= render(partial: 'shared/news', :object => @news) unless @news.empty?  %>

<!-- stories -->
<% unless @stories.empty? %>
<div class="slider">
  <div class="slider-heading">
    <h2>Learner Stories</h2>
  </div>

  <div class="story-slider">

    <% @stories.each do | story | %>
    <div>
      <div class="slide-wrapper">
        <div class="story-slide slide-main">
          <a href="<%= url_for(story) %>" class="slide-link">
            <div class="story-slide-image slide-image">
              <img src="<%= story.thumbnail %>" class="image-style-card-slider-"  alt="<%= story.alt_text %>">
            </div>

            <div class="story-slide-text slide-text ">
              <h3><%= story.title %></h3>
              <div class="excerpt">
                <%= sanitizemarkdown(Kramdown::Document.new(story.excerpt).to_html)%>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <% end %>

    <div>
      <div class="slide-wrapper">
        <div class="story-slide slide-main">
          <a href="<%= url_for(stories_path) %>" class="slide-link">
            <div class="story-slide-image slide-image">
              <img src="<%= asset_path("AdultLearningPicture_cropped.jpg") %>" class="image-style-card-slider-" alt="Tutor supporting a learner" >
            </div>

            <div class="story-slide-text slide-text ">
              <h3>View all learner stories </h3>
             
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>  

<% end %>

<br />
 
<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>

<%= render partial: 'shared/topic_nav' %>
