<% content_for :title, 'Find courses near you in Leeds' %>

<!-- search form -->
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <!-- search form --> 
    <div class="search-form ">
      <%= render partial: 'shared/search_form' %>
    </div>
  </div>
</div>

<!-- topics -->
<div class="row">

  <% @topics.each do | topic | %>
      
    <div class="col-xs-4 col-sm-2">
      <div class="topic">
        <%= link_to(image_tag(topic.icon.url(:thumb),  width: 70, height: 70),  topic) %>
        
        <br />
        <%= link_to topic.name, topic %>
      </div>
     </div>
  <% end %>

</div>

<!-- welcome  -->
<%= render(partial: 'shared/welcome', :object => @welcome) if @welcome %>

<!-- news -->
<%= render(partial: 'shared/news', :object => @news) unless @news.empty?  %>
 
<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>
