<% content_for :title, 'Find courses near you in Leeds' %>

<!-- search form -->
<div class="row">
  <div class="col-md-5">
   
      <div class="">
        <h1 class="page-head"> <a class="rootlink" href="/"><span class="slight">Leeds</span> Adult Learning</a></h1>
         
      </div>
   
    <!-- search form --> 
    <div class="search-form ">
      <%= render partial: 'shared/search_form', locals: {size: "half"}%>
    </div>


    <!-- welcome  -->
    <%= render(partial: 'shared/welcome', :object => @welcome) if @welcome %>
  </div>

  <div class="col-md-6">
    <!-- image --> 
    <div class="iglimage">
      <%= image_tag "AdultLearningPicture.jpg", loading:"lazy", typeof:"foaf:Image", width: 760, height: 760, alt: "Tutor supporting a learner" %>
     
    </div>
  </div>

</div>

<!-- topics -->
<div class="row">

  <% @topics.each do | topic | %>
      
    <div class="col-xs-12 col-sm-6 col-md-2">
      <div class="topic">
        <%= link_to(image_tag(topic.icon.url(:thumb),  width: 70, height: 70, alt: topic.alt_text),  topic) %>
        
        <br />
        <%= link_to topic.name, topic %>
      </div>
     </div>
  <% end %>

</div>



<!-- news -->
<%= render(partial: 'shared/news', :object => @news) unless @news.empty?  %>

<div class="slider">
  <div class="slider-heading">
    <h2>News</h2>
  </div>
  <button type="button" class="slick-prev pull-left slick-arrow" aria-label="Previous arrow" style=""></button>
  <button type="button" class="slick-next pull-right slick-arrow" aria-label="Next arrow" style=""></button>
  <div class="news-slider">
   
  
      <div>
        <div class="slide-wrapper">
        <div class="news-slide slide-main" >
          <a href="#" class="slide-link" aria-label="Visit page: Future Talent Leeds" >
            <div class="news-slide-image slide-image">
              <img src="https://www.inclusivegrowthleeds.com/sites/default/files/styles/card_slider_/public/2022-04/shutterstock_1705421662.jpg?h=f15cd55e&amp;itok=QWnKbzFB" alt="people" typeof="foaf:Image" class="image-style-card-slider-" width="622" height="310">
            </div>
      
            <div class="news-slide-text slide-text ">
              <h4>Homepage 1</h4>
              <p>blurb</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="slide-wrapper">
      <div class="news-slide slide-main" >
        <a href="#" class="slide-link" aria-label="Visit page: Future Talent Leeds" >
          <div class="news-slide-image slide-image">
            <img src="https://www.inclusivegrowthleeds.com/sites/default/files/styles/card_slider_/public/2022-04/shutterstock_1705421662.jpg?h=f15cd55e&amp;itok=QWnKbzFB" alt="people" typeof="foaf:Image" class="image-style-card-slider-" width="622" height="310">
          </div>
    
          <div class="news-slide-text slide-text ">
            <h4>Homepage 2</h4>
            <p>blurb</p>
          </div>
        </a>
      </div>
    </div>
  </div>
   

  <div>
    <div class="slide-wrapper">
    <div class="news-slide slide-main" >
      <a href="#" class="slide-link" aria-label="Visit page: Future Talent Leeds" >
        <div class="news-slide-image slide-image">
          <img src="https://www.inclusivegrowthleeds.com/sites/default/files/styles/card_slider_/public/2022-04/shutterstock_1705421662.jpg?h=f15cd55e&amp;itok=QWnKbzFB" alt="people" typeof="foaf:Image" class="image-style-card-slider-" width="622" height="310">
        </div>
  
        <div class="news-slide-text slide-text ">
          <h4>Homepage 3</h4>
          <p>blurb</p>
        </div>
      </a>
    </div>
  </div>
</div>
 

<div>
  <div class="slide-wrapper">
  <div class="news-slide slide-main" >
    <a href="#" class="slide-link" aria-label="Visit page: Future Talent Leeds" >
      <div class="news-slide-image slide-image">
        <img src="https://www.inclusivegrowthleeds.com/sites/default/files/styles/card_slider_/public/2022-04/shutterstock_1705421662.jpg?h=f15cd55e&amp;itok=QWnKbzFB" alt="people" typeof="foaf:Image" class="image-style-card-slider-" width="622" height="310">
      </div>

      <div class="news-slide-text slide-text ">
        <h4>Homepage 4</h4>
        <p>blurb</p>
      </div>
    </a>
  </div>
</div>
</div>

<div>
  <div class="slide-wrapper">
  <div class="news-slide slide-main" >
    <a href="#" class="slide-link" aria-label="Visit page: Future Talent Leeds" >
      <div class="news-slide-image slide-image">
        <img src="https://www.inclusivegrowthleeds.com/sites/default/files/styles/card_slider_/public/2022-04/shutterstock_1705421662.jpg?h=f15cd55e&amp;itok=QWnKbzFB" alt="people" typeof="foaf:Image" class="image-style-card-slider-" width="622" height="310">
      </div>

      <div class="news-slide-text slide-text ">
        <h4>Homepage 5</h4>
        <p>blurb</p>
      </div>
    </a>
  </div>
</div>
</div>
     

     


   
  
  </div>
</div>
 
<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>

<%= render partial: 'shared/topic_nav' %>
