<% content_for :title, "News & Events" %>

<div class="container">

  <h2>News & Events</h2>

  <% @news.each do | news_item | %>
  <div class="row news-result">
    <div class="col-md-12">
      <h3><%=link_to news_item.title, news_item%></h3>
      <img src="<%= news_item.thumbnail %>" alt="<%= news_item.alt_text %>" > <br />
      <div class="news_item-excerpt">
        <%= sanitizemarkdown(Kramdown::Document.new(news_item.excerpt).to_html)%>
        <p><%=link_to "Read more", news_item, class: "btn btn-lil" %></p>
      </div>
    </div>
  </div>
  <br />
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <%= will_paginate @news %>
    </div>
  </div>
</div>