<% content_for :title, "Learner Stories" %>

<div class="container">

  <h2>Learner Stories</h2>

  <% @stories.each do | story | %>
  <div class="row story-result">
    <div class="col-md-12">
      <h3><%=link_to story.title, story%></h3>
      <img src="<%= story.thumbnail %>" alt="<%= story.alt_text %>" > <br />
      <div class="story-excerpt">
        <%= sanitizemarkdown(Kramdown::Document.new(story.excerpt).to_html)%>
        <p><%=link_to "Read more about "+story.title, story, class: ""%></p>
      </div>
    </div>
  </div>
  <br />
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <%= will_paginate @stories %>
    </div>
  </div>
</div>