<%= render partial: 'shared/search_form' %>

<h2 class="search-heading">Found <%= pluralize(@courses.size, "course") %></h2>
 
<% unless params[:near].blank? %>
  <div class="row">
  <div class="col-md-12">
    Sorted by:
    <span class="sort-links">
     <% sort = params[:sort].blank? ? "relevance" : params[:sort] %> 
     <%= link_to_unless sort == "relevance", "Best Match", courses_url(near: params[:near], q: params[:q], sort: "relevance"), :class=>"sort-link" %> |
      <%= link_to_unless sort == "distance", "Distance", courses_url(near: params[:near], q: params[:q], sort: "distance"), :class=>"sort-link" %>
    </span>
  </div>
  </div>
<% end %>

<% 
  heading = ""
  if @topic
    heading = "Topic: #{@topic.name}"
  elsif @provider
    heading = "Provider: #{@provider.name}"
  elsif @venue
    heading = "Venue: #{@venue.name}"
  end
  title = heading == "" ? "Courses" : heading.titlecase
  heading = heading == "" ? "" : "<h2>#{heading.titlecase}</h2>".html_safe
  content_for :title, title
 %>

<h2><%= heading %></h2>

<% @courses.each do | course | %>
 <% if course.has_attribute? "distance"
   distance = course.distance
   distance = distance.round(1) unless distance.nil?
  end
  %>
  <div class="row course-result">
    <div class="col-md-12">
    <% 
      params[:near] = nil if params[:near].blank?
      params[:lon_lat] = nil
      params[:lon_lat] = "#{@lon_lat[:longitude]},#{@lon_lat[:latitude]}" if @lon_lat
    %>
      <h3 class="title"><%= link_to course.title, course_url(course, :near => params[:near], :lon_lat => params[:lon_lat])  %></h3>
      <p class="description">
        <%= snippet(course.description, 50, course) %>
      </p>
    </div>
    <div class="col-md-12 ">
      <p>
        <%= course.start_date.strftime("%a, %b %d, %Y") %> to <%= course.end_date.strftime("%a, %b %d %Y") %> <br />

        <%= course.start_time.strftime("%-I:%M %p") %> to <%= course.end_time.strftime("%-I:%M %p") %> at <%= link_to course.venue.name.titlecase, course.venue %> <br />
        Provided by <%= link_to course.provider.name, course.provider %>
      </p>
      <% if distance %>
      <p> <%= image_tag "bus.png", width: 50, height:20 %> <%= "#{distance} Km" %> </p>
      <% end %>
    </div>
  </div>

  
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= will_paginate @courses %>
  </div>
</div>




<!-- news -->
<%= render partial: 'shared/news', :object => @news %>

<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>

