<%= render partial: 'shared/search_form' %>

<h2 class="search-heading">Found <%# pluralize(@courses.count, "course") %></h2>

<% 
  heading = ""
  if @topic
    heading = "Topic: #{@topic.name}"
  elsif @provider
    heading = "Provider: #{@provider.name}"
  elsif @venue
    heading = "Venue: #{@venue.name}"
  end
  title = heading == "" ? "Courses" : heading.titlecase
  heading = heading == "" ? "" : "<h2>#{heading.titlecase}</h2>".html_safe
  content_for :title, title
 %>

<h2><%= heading %></h2>

<% @courses.each do | course | %>
 <% if course.has_attribute? "distance"
   distance = course.distance
   distance = distance.round(1) unless distance.nil?
  end
  %>
  <div class="row course-result">
    <div class="col-md-12">
      <h3 class="title"><%= link_to course.title, course %></h3>
      <p class="description">
        <%= snippet(course.description, 50, course) %>
      </p>
    </div>
    <div class="col-md-12 ">
      <p>
        <%= course.start_date.strftime("%a, %b %d, %Y") %> to <%= course.end_date.strftime("%a, %b %d %Y") %> <br />

        <%= course.start_time.strftime("%-I:%M %p") %> at <%= link_to course.venue.name.titlecase, course.venue %> <br />
        Provided by <%= link_to course.provider.name, course.provider %>
      </p>
      <p> <%= image_tag "bus.png", width: 50, height:20 %> <%= "#{distance} Km" if distance %> </p>
    </div>
  </div>

  
<% end %>

<!-- recommendations -->
<%= render partial: 'shared/recommendations', :object => @recommended %>

<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>

