<% content_for :title, @course.title %>
<% content_for :rootlink, "false" %>
<% content_for :meta_description, @course.description %>

<div class="row course-main">
  <div class="col-md-12">
    <h1><%= @course.title %></h1>
  </div>
  <div class="col-md-12">
    <% if !@course.description_html.blank? %>
      <p><%= sanitizemarkdown(@course.description_html)%></p>
    <% else %>
      <p><%= @course.description %></p>
    <% end %>
  </div>
</div>
  
<div class="row course-main">
  <div class="col-md-12">
  <p>
    This course starts on <strong><%= @course.start_date.strftime("%a, %b %d, %Y") %></strong>
    <% if @course.start_date != @course.end_date %>
      and ends on <strong><%= @course.end_date.strftime("%a, %b %d %Y") %> </strong>
    <% end %>
    <br />
    The start time is <strong><%= @course.start_time.strftime("%I:%M %p") %></strong> and the finish time is <strong><%= @course.end_time.strftime("%I:%M %p") %></strong>
    (<%= distance_of_time_in_words(@course.start_time, @course.end_time,  scope: 'datetime.distance_in_words.short') %>)
  </p>
  <p>
    <%= @course.venue.is_online? ? "Online:" : "At:" %> <strong> <%= @course.venue.name.titlecase  %> </strong> 
    <% unless @course.venue.is_online? %>
      <br />
      <%= @course.venue.address_1.titlecase unless @course.venue.address_1.blank?  %><br />
      <%= "#{@course.venue.address_2.titlecase} <br />".html_safe unless @course.venue.address_2.blank? %>
      <%= @course.venue.address_3.titlecase unless @course.venue.address_3.blank? %><br />
      <%= @course.venue.postcode %>
    <% end %>
  </p>

  <% if @course.provider.application_form %>
  <p>  
    <% 
    if @course.lcc_code.match?(/MUL/)
      form_template  = AppConfig['form_template_multiplier']
    else
      form_template  = AppConfig['form_template']
    end
    template = form_template % {course_title: CGI.escape(@course.title), course_code: @course.lcc_code, start_date: @course.start_date.strftime("%Y-%m-%d"), end_date: @course.end_date.strftime("%Y-%m-%d"), venue_name: @course.venue.name , venue_postcode: @course.venue.postcode } 
    form_url = template
    %>
   
    <%= link_to "Apply Now", form_url,  :class => "application-form enrol btn btn-lil ", :target => '_blank'%>
   
  </p>
  <% end %>

  </div>
</div>
<div class="row course-main course-map">
  <% if (@course.venue.latitude && @course.venue.longitude) || !@course.venue.is_online? %>

    <div class="col-sm-6">

        <div class="venue-map">
              <%= map(center:  {
                latlng: [@course.venue.latitude, @course.venue.longitude],
                zoom: 18 
                },
                markers: [{ latlng: [@course.venue.latitude, @course.venue.longitude] }]
              ) %>
  
            <% if browser.device.mobile? %>
              <%= link_to("Open this area on your Mobile Maps", "geo:#{@course.venue.latitude},#{@course.venue.longitude};u=10")  %>
            <% else %>
              <%= link_to("Open this area on Google Maps", "https://maps.google.com/?q=#{@course.venue.latitude},#{@course.venue.longitude}") %>
            <% end %>

        </div>
      </div>
    <% end %>
    <div class="col-sm-6">
      <p>
      <% unless @course.provider.url.blank? 
           url = @course.provider.url
             unless url.split(':')[0] == 'http' || url.split(':')[0] == 'https'
               url = "http://" + url
             end
        else
          url = nil
        end
           %>
          This course is <strong><%= link_to_unless(url.nil?, "provided by #{@course.provider.name}", url) %> </strong>
         
          <% unless @course.provider.telephone.blank? %> 
            <br />
          Telephone <%= @course.provider.name %> on <%= link_to phone_format(@course.provider.telephone), "tel:#{@course.provider.telephone}" %>
          <% end %>
          <% unless @course.provider.email.blank? %> 
            <br />
            Email <%= @course.provider.name %>: <%= mail_to @course.provider.email, nil, subject: "Enquiry about #{@course.title} starting on #{@course.start_date.strftime("%a, %b %d, %Y")} from Leeds Adult Learning" %> 
          <% end %>
        </p>
        <p>
        <% if @course.venue.is_online? %>
          View a list of <%= link_to "all courses for #{@course.venue.name.titlecase}", @course.venue %>.
        <% else %>
          View a list of  <%= link_to "courses near #{@course.venue.name.titlecase}'s", courses_path(q: "", near: "#{@course.venue.longitude},#{@course.venue.latitude}") %> area
        <% end %>
        </p>

        <% unless @course.target_group.blank? %>
        <h2 class="interested">Who is it for?</h2>
        <p>
          <% @course.target_group += "." if @course.target_group[-1] != "." %>
          <%= @course.target_group %> <br />
          Often courses are open to everyone, so please contact the course provider to ask. 
        </p>
        <% end %>
        <% if @course.provider.application_form %>
        <p>
         <%= link_to "Apply Now", form_url,  :class => "application-form enrol btn btn-lil ", :target => '_blank'%>
        </p>
        <% end %>
       
   
    </div>

</div>

<% unless @course.venue.is_online? %>

  <div class="row course-directions">
    <div class="col-md-12">
      <% if !params[:near].blank? && !@directions.nil? %>
        <%= render :partial => 'directions', object: @directions %>
        <%= render partial: 'directions_form' %>
      <% elsif !params[:near].blank? && @directions.nil? %>
        <h2 id="directions">Journey Plan</h2>
        <p  role="alert" class="alert alert-success alert-dismissable">Sorry couldn't find a journey plan for '<%= params[:near] %>'
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;</button>
        </p>
        <%= render partial: 'directions_form' %>
        <div class="direction_links">
          <%= render partial: 'courses/direction_links' %>
        </div>

      <% else %>
        <h2 id="directions">Journey Plan</h2>

        <%= render partial: 'directions_form' %>

        <div class="direction_links">
          <%= render partial: 'courses/direction_links' %>
        </div>

      <% end %>
    </div>  
  </div>
<% end %>

 
<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>

<%= render partial: 'shared/topic_nav' %>
