<% content_for :title, @course.title %>

<div class="row course-main">
  <div class="col-md-12">
    <h2><%= @course.title %></h2>
  </div>
  <div class="col-md-12">
    <p><%= @course.description %></p>
  </div>
</div>
  
<div class="row course-main">
  <div class="col-md-12">
  <p>
    <%= @course.start_date.strftime("%a, %b %d, %Y") %> to <%= @course.end_date.strftime("%a, %b %d %Y") %> <br />
    At <%= @course.start_time.strftime("%I:%M %p") %> to <%= @course.end_time.strftime("%I:%M %p") %> <br />
    <%= render :partial => "calendar"%>
      
    Where: <%= link_to @course.venue.name.titlecase, @course.venue %> <br />
    <%= @course.venue.address_1.titlecase %><br />
    <%= "#{@course.venue.address_2.titlecase} <br />".html_safe unless @course.venue.address_2.blank? %>
    <%= @course.venue.address_3.titlecase %><br />
    <%= @course.venue.postcode %>
  </p>
 
  <div id="venue-map">
    <% if @course.venue.latitude && @course.venue.longitude %>
      <%= map(center:  {
        latlng: [@course.venue.latitude, @course.venue.longitude],
        zoom: 18 
        },
        markers: [{ latlng: [@course.venue.latitude, @course.venue.longitude] }]
        ) %>
    <% end %>
  </div>

  <p>
    Course Provided by:  <%= link_to @course.provider.name, @course.provider %> <br />
    Website: <%= link_to @course.provider.url %><br />
    Telephone: <%= phone_format(@course.provider.telephone) %> 
  </p>
  </div>

</div>


<div class="row course-directions">
  <div class="col-md-12">
    <% if !params[:near].blank? && !@directions.nil? %>
      <%= render :partial => 'directions', object: @directions %>
    <% elsif !params[:near].blank? && @directions.nil? %>
      <h4>Journey Plan</h4>
      <p class="alert alert-success alert-dismissable">Sorry couldn't find a journey plan for <%= params[:near] %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;</button>
      </p>
      <div class="direction_links">
       For public transport planning visit the <%= link_to "West Yorkshire Metro Journey Planner", "http://planner.wymetro.com/lts/#/travelInfo" %> <br />
       For walking, driving directions visit: <%= link_to "Google Maps", "https://maps.google.co.uk" %>
      </div>

    <% else %>
      <h4>Journey Plan</h4>
      <p>Type in a place, postcode or address to show a journey plan by bus and by foot to arrive for the course start.</p>

      <%= form_tag("", method: "get", class: 'form-horizontal ', role: 'form') do %>
        
        <%= text_field_tag(:near, params[:near], placeholder: "Postcode or place") %>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" title="Search"><i class="glyphicon glyphicon-search">Search</i></button>
        </div>
       <!-- 
        <button id="geobutton" class="btn btn-default" type="button" title="Find Your Location"><i class="glyphicon glyphicon-globe" ></i></button>
       -->
      <% end #form %>

      <div class="direction_links">
       For public transport planning visit the <%= link_to "West Yorkshire Metro Journey Planner", "http://planner.wymetro.com/lts/#/travelInfo" %> <br />
       For walking, driving directions and maps visit: <%= link_to "Google Maps", "https://maps.google.co.uk" %>
      </div>

    <% end %>
  </div>  
</div>

 
<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>
