<% content_for :title, @course.title %>
<% content_for :meta_description, @course.description %>

<div class="row course-main">
  <div class="col-md-12">
    <h2><%= @course.title %></h2>
  </div>
  <div class="col-md-12">
    <p><%= @course.description %></p>
  </div>
</div>
  
<div class="row course-main">
  <div class="col-md-12">
  <p>
    This course starts on <strong><%= @course.start_date.strftime("%a, %b %d, %Y") %></strong>
    <% if @course.start_date != @course.end_date %>
      and ends on <strong><%= @course.end_date.strftime("%a, %b %d %Y") %> </strong>
    <% end %>
    <br />
    The start time is <strong><%= @course.start_time.strftime("%I:%M %p") %></strong> and the finish time is <strong><%= @course.end_time.strftime("%I:%M %p") %></strong>
    (<%= distance_of_time_in_words(@course.start_time, @course.end_time,  scope: 'datetime.distance_in_words.short') %>)
  </p>
  <p>
    <%= @course.venue.is_online? ? "Online:" : "At:" %> <strong> <%= @course.venue.name.titlecase  %> </strong> 
    <% unless @course.venue.is_online? %>
      <br />
      <%= @course.venue.address_1.titlecase unless @course.venue.address_1.blank?  %><br />
      <%= "#{@course.venue.address_2.titlecase} <br />".html_safe unless @course.venue.address_2.blank? %>
      <%= @course.venue.address_3.titlecase unless @course.venue.address_3.blank? %><br />
      <%= @course.venue.postcode %>
    <% end %>
  </p>


  <p>
    <% form_url =  URI.encode("#{AppConfig['form_url']}?course_title=#{@course.title}&course_code=#{@course.lcc_code}ABC&course_start=#{@course.start_date.strftime("%d/%m/%Y")}&course_end=#{@course.end_date.strftime("%d/%m/%Y")}")  %>
    <%= link_to "Apply Now", form_url,  :class => "enrol btn btn-lil ", :target => '_blank'%>
  </p>

  </div>
</div>
<div class="row course-main course-map">
  <% if (@course.venue.latitude && @course.venue.longitude) || !@course.venue.is_online? %>

    <div class="col-sm-6">

        <div class="venue-map">
              <%= map(center:  {
                latlng: [@course.venue.latitude, @course.venue.longitude],
                zoom: 18 
                },
                markers: [{ latlng: [@course.venue.latitude, @course.venue.longitude] }]
              ) %>
  
            <% if browser.device.mobile? %>
              <%= link_to("Open this area on your Mobile Maps", "geo:#{@course.venue.latitude},#{@course.venue.longitude};u=10")  %>
            <% else %>
              <%= link_to("Open this area on Google Maps", "https://maps.google.com/?q=#{@course.venue.latitude},#{@course.venue.longitude}") %>
            <% end %>

        </div>
      </div>
    <% end %>
    <div class="col-sm-6">
      <p>
      <% unless @course.provider.url.blank? 
           url = @course.provider.url
             unless url.split(':')[0] == 'http' || url.split(':')[0] == 'https'
               url = "http://" + url
             end
        else
          url = nil
        end
           %>
          This course is provided by <strong><%= link_to_unless(url.nil?, @course.provider.name, url) %> </strong><br />
          <% if url %> Website: <%= link_to url, url %> <% end %>
          <% unless @course.provider.telephone.blank? %> 
            <br />
            Telephone: <%= link_to phone_format(@course.provider.telephone), "tel:#{@course.provider.telephone}" %>
          <% end %>
          <% unless @course.provider.email.blank? %> 
            <br />
            Email: <%= mail_to @course.provider.email, nil, subject: "Enquiry about #{@course.title} starting on #{@course.start_date.strftime("%a, %b %d, %Y")} from Leeds Adult Learning" %> 
          <% end %>
        </p>
        <p>
        View a list of <%= link_to "all courses provided by #{@course.provider.name}", @course.provider %> offered here. <br />
        View a list of <%= link_to "all courses held at #{@course.venue.name.titlecase}", @course.venue %> offered here.
        </p>

        <% unless @course.target_group.blank? %>
        <h4 class="interested">Who is it for?</h4>
        <p>
          <% @course.target_group += "." if @course.target_group[-1] != "." %>
          <%= @course.target_group %> <br />
          Often courses are open to everyone, so please contact the course provider to ask. 
        </p>
        <% end %>
   
    </div>

</div>


<div class="row course-directions">
  <div class="col-md-12">
    <% if !params[:near].blank? && !@directions.nil? %>
      <%= render :partial => 'directions', object: @directions %>
    <% elsif !params[:near].blank? && @directions.nil? %>
      <h4>Journey Plan</h4>
      <p class="alert alert-success alert-dismissable">Sorry couldn't find a journey plan for '<%= params[:near] %>'
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;</button>
      </p>
      <div class="direction_links">
        <%= render partial: 'courses/direction_links' %>
      </div>

    <% else %>
      <h4>Journey Plan</h4>
      <p>Type in a place, postcode or address to show a journey plan by bus and by foot to arrive for the course start.</p>

      <%= form_tag("", method: "get", class: 'form-horizontal ', role: 'form') do %>
        
        <%= text_field_tag(:near, params[:near], placeholder: "Postcodes give best results") %>
        <div class="input-group-btn">
          <button class="btn btn-lil" type="submit" title="Search"><i class="glyphicon glyphicon-search"></i> Make Journey Plan</button>
        </div>
       <!-- 
        <button id="geobutton" class="btn btn-default" type="button" title="Find Your Location"><i class="glyphicon glyphicon-globe" ></i></button>
       -->
      <% end #form %>

      <div class="direction_links">
        <%= render partial: 'courses/direction_links' %>
      </div>

    <% end %>
  </div>  
</div>

 
<!-- recent searches -->
<%= render partial: 'shared/recent_searches' %>
